<!doctype html>
<html lang="en">
  <head>
    <title>저런! 인터넷 익스플로러는 안되요!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body class="bg-dark">
    <div class="container text-center">
      <div class="jumbotron" style="
      position: absolute;
      top: 25%; left: 25%; width: 50%;
      -webkit-box-shadow: 28px 28px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 28px 28px 5px 0px rgba(0,0,0,0.75);
      box-shadow: 28px 28px 5px 0px rgba(0,0,0,0.75);
      ">
        <h1 class="display-3">앗 저런!</h1>
        <p class="lead">이 서비스는 인터넷 익스플로러를 지원하지 않습니다!</p>
        <hr class="my-2">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Google_Chrome_icon_%28September_2014%29.svg/1200px-Google_Chrome_icon_%28September_2014%29.svg.png" width="75"> 혹은 <img src="https://yt3.ggpht.com/a/AGF-l78wqPsyhGKPSJM-XPDdT00AM99vukqV0P9-gw=s900-c-k-c0xffffffff-no-rj-mo" width="75">를 사용하시면<br />
        이 구린 디자인을 탈출하고, 최신 기술을 사용하실 수 있습니다
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>